<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  - 24小時不間斷專業新聞服務</title>
    <script type="importmap"></script>
    <link rel="icon" href="https://cdn.ftvnews.com.tw/client/images/favicons/favicon.ico" />
    <link rel="shortcut icon" href="https://cdn.ftvnews.com.tw/client/images/favicons/favicon.png" sizes="32x32" type="image/png" />
    <link rel="apple-touch-icon-precomposed" href="https://cdn.ftvnews.com.tw/client/images/favicons/favicon.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://cdn.ftvnews.com.tw/client/images/favicons/favicon_72.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://cdn.ftvnews.com.tw/client/images/favicons/favicon_120.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://cdn.ftvnews.com.tw/client/images/favicons/favicon_152.png" type="image/png" />
    <link href="https://cdn.ftvnews.com.tw/client/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://cdn.ftvnews.com.tw/client/css/style.css" rel="stylesheet" asp-append-version="true" />
    @await Component.InvokeAsync("Header")
</head>
<body class="hideNo hideNav">
    @await Component.InvokeAsync("Menu")

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Component.InvokeAsync("Footer")

    <script src="https://cdn.ftvnews.com.tw/client/js/jquery-ui.min.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/bootstrap.min.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/jquery.lazy.min.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/jquery.lazy.plugins.min.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/jquery.fitvids.js?ver=20220929"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/jquery.nicescroll.min.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/script.min.js?ver=20241118"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/init-index.min.js?ver=20250805"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/wordcloud2.min.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/swiper.min.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/dayjs/dayjs.min.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/dayjs/relativeTime.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/dayjs/isSameOrBefore.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/dayjs/customParseFormat.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/dayjs/zh-tw.js"></script>
</body>
</html>
