<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - testFtv</title>
    <script type="importmap"></script>
    <link rel="icon" href="https://cdn.ftvnews.com.tw/client/images/favicons/favicon.ico" />
    <link rel="shortcut icon" href="https://cdn.ftvnews.com.tw/client/images/favicons/favicon.png" sizes="32x32" type="image/png" />
    <link rel="apple-touch-icon-precomposed" href="https://cdn.ftvnews.com.tw/client/images/favicons/favicon.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://cdn.ftvnews.com.tw/client/images/favicons/favicon_72.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://cdn.ftvnews.com.tw/client/images/favicons/favicon_120.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://cdn.ftvnews.com.tw/client/images/favicons/favicon_152.png" type="image/png" />
    <link href="https://cdn.ftvnews.com.tw/client/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://cdn.ftvnews.com.tw/client/css/style.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">testFtv</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <section class="container">
            <ul class="footer-nav row">
                <li class="col-12 col-md-3">
                    <div class="logo">
                        <img loading="lazy" src="https://cdn.ftvnews.com.tw/client/images/logo-w.png" />
                    </div>
                </li>
                <li class="col-12 col-md-9">
                    <ul class="nav-link">
                        <li><a href="https://www.ftv.com.tw/aboutftv.aspx" target="_blank">關於民視</a></li>
                        <li><a href="https://www.ftv.com.tw/QAftv.aspx" target="_blank">常見問題 </a></li>
                        <li><a href="https://www.ftv.com.tw/howtoftv.aspx" target="_blank">如何收看民視</a></li>
                        <li><a href="mailto:ftvnews53@gmail.com" target="_blank">意見信箱</a></li>
                        <li><a href="https://www.ftv.com.tw/map.aspx" target="_blank">位置圖</a></li>
                        <li><a href="https://www.ftv.com.tw/contactFTV.aspx" target="_blank">觀眾反映方式</a></li>
                        <li><a href="https://www.ftv.com.tw/service/index.htm" target="_blank">觀眾來電反映</a></li>
                        <li><a href="https://www.104.com.tw/company/18jsv9hc?jobsource=checkc" target="_blank">民視徵才</a></li>
                        <li><a href="https://www.ftvnews.com.tw/privacy" target="_blank">隱私權政策</a></li>
                    </ul>
                    <div class="com-info">
                        <p>觀眾服務中心│電話：(02)8601-8601</p>
                        <p>信箱：service@ftv.com.tw│傳真：(02)8601-3955</p>
                        <p>地址:244 新北市林口區信義路99號 電話:02-85118888 FAX:02-8601-3955</p>
                    </div>
                </li>
            </ul>
        </section>
        <div class="copyright">
            <div class="container"></div>
            © 2021 FTV All Rights Reserved 版權所有‧盜用必究
        </div>
        <div class="interstitialAd">
            <div class="interAd_cont container">
                <div class="heading" id="interAd_heading"><%= Me.Lit_idleInfo.Text %></div>
                <a class="interAd_close" id="interAd_close" href="javascript:;"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
            <div class="interAd_close interAd_bg"></div>
        </div>
        <input id="idleVal" class="d-none" value="<%= Me.Lit_TimeMine.Text %>">
    </footer>
    <script src="https://cdn.ftvnews.com.tw/client/js/jquery-ui.min.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/bootstrap.min.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/jquery.lazy.min.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/jquery.lazy.plugins.min.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/jquery.fitvids.js?ver=20220929"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/jquery.nicescroll.min.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/script.min.js?ver=20241118"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/init-index.min.js?ver=20250805"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/wordcloud2.min.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/swiper.min.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/dayjs/dayjs.min.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/dayjs/relativeTime.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/dayjs/isSameOrBefore.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/dayjs/customParseFormat.js"></script>
    <script src="https://cdn.ftvnews.com.tw/client/js/dayjs/zh-tw.js"></script>
</body>
</html>
